.LoginForm {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LoginForm *:not(:last-child) {
  margin-bottom: 20px;
}

.LoginForm *:last-child {
  margin: 5px;
}

.LoginForm input {
  width: 350px;
}
