* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #7764f4;
  --background-color: #f1f1fb;

  --grey-color: #abaecc;
  --white-color: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
}

.AppContainer {
  width: 100%;
  height: 100vh;
  display: flex;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
